.container {
    max-width: 40rem;
    margin: 10px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    border-radius: 2rem;
    overflow: hidden;
}

.header {
    padding: .5rem 2rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        line-height: 1;
    }
    &:hover &__btn {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    min-height: 30rem;
    justify-content: space-between;
}

.manage {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    &:hover &__field {
        width: 15rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }
    &__field {
        width: 2.4rem;
        padding-left: .5rem;
        height: 2.5rem;
        margin-right: -2rem;
        border-radius: 2rem;
        border: none;
        transition: width .4s ease;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .5), 0 0 0 1px rgba(0, 0, 0, .5)
        }
    }
    &__icon {
        color: #4ED44B;
        font-size: 2.5rem;
    }
}

.weather {
    &__list {}
    &__item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    &__actual {
        display: flex;
        align-items: center;
        padding: .2rem 0;
        border-bottom: .1rem solid var(--color-primary);
    }
    &__col {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    &__time {
        font-size: 1.2rem;
    }
    &__location {
        display: flex;
        font-size: 1.6rem;
    }
    &__icon {
        width: 5rem;
        height: 5rem;
    }
    &__temp {
        display: flex;
        margin-left: 2rem;
        font-size: 4.5rem;
        line-height: 1.2;
        font-weight: 300;
        span {
            font-size: 2.5rem;
        }
    }
    &__drag,
    &__delete {
        display: none;
    }
    &__deg {
        align-self: flex-start;
        font-size: 2rem;
    }
}

.container--active {
    display: flex;
    width: 3.5rem;
    align-items: center;
    justify-content: center;
}

.days {
    margin: .5rem 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        flex: 1;
        justify-content: space-between;
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
    &__weekday {
        flex: 1;
    }
    &__sky {
        flex: 1;
        align-items: center;
        display: flex;
    }
    &__probability {
        color: #095AF6;
        font-size: 1.2rem;
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }
    &__avtemp {
        display: flex;
    }
    &__mintemp {
        margin-left: 1rem;
    }
}

.days-isVisible {
    display: block;
    transition: max-height 0.2s
}